<div class="footer-container">
<div class="background-image">

</div>

<div class="footer-container-text">
  <div class="footer-text">
    changing the world through
digital experiences
  </div>
  <div class="cta-button"><a href="https://www.adobe.com/enterprise.html?sdid=4JW79JJR&mv=other" target="_blank" >Learn More</a></div>
  <div class="logo-container just-mobile">
    <img src="images/logo-footer.png" />
  </div>
</div>


  <div class="logo-container just-desktop-tablet">
    <img src="images/logo-footer.png" />
  </div>
  <a href="https://www.adobe.com/enterprise.html?sdid=4JW79JJR&mv=other" target="_blank" id="link-footer"></a>
</div>
