<header id="main-header-container" class="post-header header-partial">
	<div class="header-container">
		<div id="header-text-primary" class="header-text">
			<h1>RETAIL’S TECH REVOLUTION </h1>
			<p>Robots that pick out your outfits <br> and other digital technology will transform the shopping experience</p>
			<a href="#section1" class="just-desktop scroll-icon"></a>
		</div>
	</div>
	<div class="background-image"></div>
</header>
