<div class="LayoutContainer-{{ this.type }}-{{#if aspect}}{{aspect}}{{else}}square{{/if}}">
	<div class="content">
		<figure class="FigureTag ImageView image-container {{ this.type }}">
			<picture>
				<img src="{{ this.src }}">
			</picture>
		</figure>
	</div>
</div>
