
<div class="LayoutContainer-center-square with-vertical-margins photo-desktop">
		<div class="content">
			<figure class="FigureTag PhotoGridView-2">
				<div class="content">
					<figure class="FigureTag ImageView">
						<picture>
							<img src="images/photo-grid-1.jpg">
						</picture>
					</figure>
					<figure class="FigureTag ImageView">
						<picture>
							<img src="images/photo-grid-2.jpg">
						</picture>
					</figure>
				</div>
				{{!-- <figcaption>
					<span>{{{ index.section3.caption }}}</span>
				</figcaption> --}}
			</figure>
		</div>
	</div>
