	<div class="BodyCopy photo-mobile">
	<p>Bottom line: Affluent investors want to put their money into products and companies they admire, causes they care about and personal passions that bring them joy.</p>
</div>
<div class="LayoutContainer-center-square with-vertical-margins photo-mobile">
	<div class="content">
		<figure class="FigureTag PhotoGridView-2">
			<div class="content">
				<figure class="FigureTag ImageView">
					<picture>
						<img src="images/photo-grid-1.jpg">
					</picture>
				</figure>
			</div>
		</figure>
	</div>
</div>
	<div class="BodyCopy photo-mobile">
	<p>“They can purchase a $100,000 Tesla to minimize their use of fossil fuels,” says Tom Corley, author of "Rich Habits: The Daily Success Habits of Wealthy Individuals." “They can create a financial plan that invests their money in companies producing products that are in line with what's important to them.”</p>
</div>
<div class="LayoutContainer-center-square with-vertical-margins photo-mobile">
		<div class="content">
			<figure class="FigureTag PhotoGridView-2">
				<div class="content">
					<figure class="FigureTag ImageView">
						<picture>
							<img src="images/photo-grid-2.jpg">
						</picture>
					</figure>
				</div>
			</figure>
		</div>
	</div>
