
{{#if image}}
    <img src="{{ image }}">
{{else}}
    <picture>
    {{#if desktop}}
        <source media="(min-width: 540px)" srcset="{{ desktop }}">
    {{/if}}
    {{#if mobile}}
        <source media="(max-width: 539px)" srcset="{{ mobile }}">
    {{/if}}
    {{#if fallback}}
        <img src="{{ fallback }}">
    {{ else }}
        {{#if desktop}}
        <img src="{{ item.desktop }}">
        {{/if}}
    {{/if}}
    </picture>
{{/if}}