<header class="post-header header-partial">
	<div class="header-container">
		<div class="header-text">
			<p>{{{ index.section2.paragraphsIntro }}}</p>
		</div>
	</div>
	<div class="background-image"></div>
</header>
