<section id="section2">

  <div class="content">
    {{> section2_intro }}
    <div class="BodyCopy div-top">
      <p>
        {{{ index.section2.paragraphs0 }}}
      </p>
      <p>
        {{{ index.section2.paragraphs1 }}}
      </p>
      <p>
        {{{ index.section2.paragraphs2 }}}
      </p>
      <p>
        {{{ index.section2.paragraphs3 }}}
      </p>
      <p>
        {{{ index.section2.paragraphs4 }}}
      </p>
      <p>
        {{{ index.section2.paragraphs5 }}}
      </p>
    </div>
  </div>

<div class="content just-desktop div-top cat img-control-cat" >
  {{> image index.section2.image1_1 }}
</div>
<div class="content wide-compact-tablet  div-top just-tablet cat" >
  {{> image index.section2.image1_2 }}
</div>
<div class="content wide-compact-tablet div-top just-mobile cat" >
  {{> image index.section2.image1_3 }}
</div>


    <div class="content">

      <h3>
        {{{ index.section2.title1 }}}
      </h3>

      <div class="BodyCopy">
        <p>
          {{{ index.section2.paragraphs6 }}}
        </p>
        <p>
          {{{ index.section2.paragraphs7 }}}
        </p>
        <p>
          {{{ index.section2.paragraphs8 }}}
        </p>
      </div>

      {{> image index.section2.image2 }}

      <div class="BodyCopy">

        <p>
          {{{ index.section2.paragraphs9 }}}
        </p>
        <p>
          {{{ index.section2.paragraphs10 }}}
        </p>
        <p>
          {{{ index.section2.paragraphs11 }}}
        </p>
        <p>
          {{{ index.section2.paragraphs12 }}}
        </p>
        <p>
          {{{ index.section2.paragraphs13 }}}
        </p>


      </div>


    </div>
</section>
