<section id="section1">
    <div class="content">
      <div class="BodyCopy">
        <p class="primary">
          {{{ index.section1.paragraphs1 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs2 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs3 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs4 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs5 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs6 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs7 }}}
        </p>
      </div>
      <h3>
        {{{ index.section1.title1 }}}
      </h3>
      <div class="BodyCopy">
        <p>
          {{{ index.section1.paragraphs8 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs9 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs10 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs11 }}}
        </p>



      </div>
      <div class="img-control just-desktop-tablet">
          {{> image index.section1.image1_1 }}
      </div>
      <div class="img-control just-mobile">
          {{> image index.section1.image1_3 }}
      </div>


      <div class="BodyCopy">
        <p>
          {{{ index.section1.paragraphs12 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs13 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs14 }}}
        </p>


      </div>

      <h3 class="green">
        {{{ index.section1.title2 }}}
      </h3>

      <div class="BodyCopy">
        <p>
          {{{ index.section1.paragraphs15 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs16 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs17 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs18 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs19 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs20 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs21 }}}
        </p>
        <p>
          {{{ index.section1.paragraphs22 }}}
        </p>

      </div>

    </div>
</section>
