<section{{#if this.id}} id="{{ this.id }}"{{/if}}{{#if this.category}} class="with-category"{{/if}}>
	<div class="content">
		{{#if this.category}}
			<div class="category"><span>{{ this.category }}</span></div>
		{{/if}}

		{{#if this.title}}
			<h3>{{ this.title }}</h3>
		{{/if}}

		{{#if this.text.[0]}}
				<div class="BodyCopy {{#if push}}{{push}}{{else}}{{/if}} {{#if push}}{{push}}{{else}}{{/if}} {{#if desktop}}photo-desktop{{/if}} ">
					{{{ lines this.text.[0] }}}
				</div>
		{{/if}}

		<div class="photo-desktop">
			{{#if this.photo-grid}}
				{{> photo-grid this.photo-grid}}
			{{/if}}
		</div>

		<div class="photo-mobile">
			{{#if this.photo-grid-mobile}}
				{{> photo-grid-mobile this.photo-grid-mobile}}
			{{/if}}
		</div>

		{{#if this.quote}}
			{{> quote this.quote}}
		{{/if}}


		{{#if studies}}
			{{> studies this.studies}}
		{{/if}}


		{{#if this.text.[1]}}

			<div class="photo-desktop">
				{{#if this.factoid}}
					{{> factoid this.factoid}}
				{{/if}}
				{{#if this.image}}
					{{> image this.image}}
				{{/if}}
				<div class="BodyCopy {{#if push}}{{push}}{{else}}{{/if}} {{#if push}}{{push}}{{else}}{{/if}}">
					{{{ lines this.text.[1] }}}
				</div>
			</div>

			<div class="photo-mobile">
				{{#if this.factoid}}
					{{> factoid this.factoid}}
				{{/if}}
				<div class="BodyCopy {{#if push}}{{push}}{{else}}{{/if}} {{#if push}}{{push}}{{else}}{{/if}}">
					{{{ lines this.text.[1] }}}
				</div>
				{{#if this.image}}
					{{> image this.image}}
				{{/if}}
			</div>

		{{/if}}

		{{#if this.text.[2]}}
			<div class="BodyCopy {{#if push}}{{push}}{{else}}{{/if}} {{#if push}}{{push}}{{else}}{{/if}}">
				{{{ lines this.text.[2] }}}
			</div>
		{{/if}}

		{{! Note: infographic data is in a separate file }}
		{{#if this.show-infographic}}
			{{> infographic infographic}}
		{{/if}}

		{{#if this.footer}}
			{{> footer this.footer}}
		{{/if}}

	</div>
</section>
