<div class="studies">
	<h3>{{{ this.title }}}</h3>

	<div class="studies__stats">
		{{#each this.stats }}
		<dl>
			<dt>{{ this.stat }}</dt>
			<dd>{{ this.text }}</dd>
		</dl>
		{{/each}}
	</div>
</div>