@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');
@import url( 'https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url( 'https://fonts.googleapis.com/css?family=Roboto:700');
@import "partials/paidpost-core";
@import "partials/variables"; // Import Sass Libraries Here
@import "nytpi-sass-utils";
@import "nytpi-sass-utils/size-class";
@import "nytpi-sass-utils/font-size"; // Un-comment to enable Size Class Grid Debug
// @include size-class-debug(overlay);
// Project Variables
@import "variables"; //font
$font-1: 'Oswald', sans-serif;
$font-2: 'Open Sans', sans-serif;
$font-3: 'Roboto', sans-serif;

.story {
	@extend .PaidPostArticle-SourceSansPro;
	@extend .nyt5Normalize;

	> section {
		@extend .LayoutContainer-full-bleed, .with-vertical-padding;
	}
	@import "partials/header";
	@import "partials/section";
	@import "partials/studies";
	@import "partials/photo-adjustment";
	@import "partials/footer";
	//@import "partials/section2";
	.div-top {
		padding-top: 4.6875vw;
	}

	.div-bottom {
		padding-top: 4.6875vw;
	}

	.just-desktop {
		@include size-class(all-desktop) {}
		@include size-class(tablet-portrait) {
			display: none;
		}
		@include size-class(compact) {
			display: none;
		}
	}

	.just-desktop {
		@include size-class(all-desktop) {
			display: block;
		}
		@include size-class(tablet-portrait) {
			display: none;
		}
		@include size-class(compact) {
			display: none;
		}
	}
	.just-desktop-tablet {
		@include size-class(all-desktop) {
			display: block;
		}
		@include size-class(tablet-portrait) {
			display: block;
		}
		@include size-class(compact) {
			display: none;
		}
	}

	.just-tablet {
		@include size-class(all-desktop) {
			display: none;
		}
		@include size-class(tablet-portrait) {
			display: block;
		}
		@include size-class(compact) {
			display: none;
		}
	}

	.just-mobile {
		@include size-class(all-desktop) {
			display: none;
		}
		@include size-class(tablet-portrait) {
			display: none;
		}
		@include size-class(compact) {
			display: block;
		}
	}


	.img-control{
		max-width: 920px;
		margin: 0 auto;
		@include size-class(tablet-portrait) {
			// max-width: 590px;
		}
	}
	.img-control-cat{
		img{
			max-width: 964px;
		}

		margin: 0 auto;
		@include size-class(tablet-portrait) {
			// max-width: 590px;
		}
	}
	@include size-class-container;
}
