.footer-container{
  @include full-bleed;

  @include size-class(all-desktop){
    padding-top: 0;
    padding-bottom: 0;
    height: 326px;
    .background-image{
      background-image: url(../images/brand-footer-desktop.png);
      background-position: bottom center;
    }
  }
  @include size-class(tablet-portrait){
    padding-top: 0;
    padding-bottom: 0;
    height: 251px;
    .background-image{
      background-image: url(../images/brand-footer-tablet.png);
      background-position: bottom center;
    }
  }
  @include size-class(compact){
    padding-top: 0;
    padding-bottom: 0;
    height:341px;
    .background-image{
      background-image: url(../images/brand-footer-mobile.png);
      background-position: bottom center;
    }
  }
  .footer-container-text{
    z-index: 99999;

    @include size-class(tablet-portrait){
      position:absolute;
      top: 50%;
      // left: span(1);
      width: span(8);
      transform: translate3d(0,-50%,0);
      position: relative;
      // min-width: 489.375px;
      //     width: 74.4252873563%;
    }
    @include size-class(compact){
      position:absolute;
      top: 50%;
      // left: span(1);
      width: span(4);
      transform: translate3d(0,-50%,0);
      position: relative;
      // min-width: 489.375px;
      //     width: 74.4252873563%;
      text-align: left;
    }

  }
  .footer-text{
    z-index: 9999;
    text-transform: uppercase;
    margin-left: 0;
    @include size-class(all-desktop){
      width: span(5.4);
      color: white;
      position:absolute;
      top: 50%;
      transform: translate3d(0,-50%,0);
      @include font-size(41){
        font-family: $font-1;
        font-weight: 600;
        line-height: em(60);
        letter-spacing: em(1);
      }
    }

    @include size-class(tablet-portrait){
      width: span(6);
      max-width: 100%;
      @include font-size(28){
        line-height: em(36);
      }
      position:relative;
      top: 0;
      transform: translate3d(0,0,0);
      margin-bottom: 12px;
    }

    @include size-class(compact){

      width: span(3.8);
      text-align: left;
      position:relative;
      top: 0;
      transform: translate3d(0,0,0);
      margin-bottom: 15px;
      @include font-size(28){

        line-height: em(37);
      }
    }
  }
  .cta-button{
    @include size-class(all-desktop){
      cursor: pointer;
      background-color: transparent;
      border:3px solid white;
      color:#fff;
      padding: 12px 48px;
      border-radius: 0;
      margin-left: 0;
      position:absolute;
      top: 56%;
      transform: translate3d(0,-50%,0);
      left: span(7);
      @include font-size(18){
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        line-height: em(28);
      }
      @media(max-width: 850px){
        left: span(6.5);
      }
    }

    @include size-class(tablet-portrait){
      @include font-size(15){
        line-height: em(24);
      }
      position:relative;
      top: 0;
      left: 0;
      transform: translate3d(0,0,0);
    }

    @include size-class(compact){
      @include font-size(17){
        line-height: em(28);
      }
      position:relative;
      top: 0;
      left: 0;
      transform: translate3d(0,0,0);
      padding: 10px 30px;
      margin-bottom: 20px;
    }
    a{
      color: #fff;
      text-decoration: none;
    }
  }
  .logo-container{
    z-index: 999;
    @include size-class(all-desktop){
        width: 58px !important;
        height: 80px;
        right: 4.6875%;
        text-indent: 0;
        bottom:50%;
        margin-bottom: -50px;

    }
    @include size-class(tablet-portrait){
      margin-bottom: -70px; 

    }
    @include size-class(compact){
      text-align: left;
      position: relative;
      right: 0;
      text-indent: 0;
      bottom:0;
      z-index: 99999;
      margin:0;
    }
  }
}
#link-footer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: transparent;
  text-decoration: none;
  cursor: pointer;
  z-index: 9999;
}
