.header-partial {
	/* Indesign files don't specify, assuming full height on mobile*/
	@include size-class(regular) {
		 @include height-ratio(535/1280);
		min-height: 535px;
	}
	@include size-class(tablet-portrait) {
		height: calc(100vh - #{$top-furniture-height});
		max-height: 388px;
	}
	@include size-class(compact) {
		height: calc(100vh - #{$top-furniture-height});
		max-height: 341px;
	}
}

#header-text-primary{
	opacity: 0;
}

#section2{
	.header-partial {
			@include size-class(tablet-portrait) {
				min-height: 300px !important;
				max-height: 300px !important;
			}
			@include size-class(compact) {
				min-height: 487px !important;
				max-height: 487px !important;
			}
	}

	.post-header {
		.background-image {
			@include size-class(compact) {
				background-image: url('../images/robot-arms-mobile.png');
			}
			@include size-class(tablet-portrait) {
				background-image: url('../images/robot-arms-tablet.png');
			}
			@include size-class(regular) {
				background-image: url('../images/robot-arms-desktop.png');
			}
		}
		.header-text {
			text-align: center;
			font-family: $font-1;
			font-weight: bold;
			text-transform: uppercase;
			@include size-class(all-desktop) {

				p {
					br{
						display: none;
					}
					font-family: $font-1;
					max-width: 800px;
					margin-left: auto;
					margin-right: auto;
					font-weight: 800;
					text-shadow: 7px 7px 22px rgba(0, 0, 0, 0.0);
					-moz-text-shadow: 7px 7px 22px rgba(0, 0, 0, 0.0);
					-webkit-text-shadow: 7px 7px 22px rgba(0, 0, 0, 0.0);
					margin-bottom: 0;
					@include font-size(46) {
						line-height: em(57);
						// letter-spacing: em(2);
					}
				}
			}
			@include size-class(tablet-portrait) {

				p {

					    max-width: 466px;
					br{
						display: none;
					}
					@include font-size(27.6) {
						line-height: em(34);
						letter-spacing: em(2);
					}
				}
			}
			@include size-class(compact) {
				p {

					max-width: 572px;
					br{
						display: block;
					}
					margin-bottom: 0;
					@include font-size(30) {
						line-height: em(43);
						letter-spacing: em(1.7);
					}
				}
			}


		}
	}
}

.scroll-icon{
	background-image: url("../images/scroll_icon.png");
	background-repeat: no-repeat;
	cursor: pointer;
}

.post-header {
	.header-container {
		align-items: center;
		// top: -20%;
	}

	.background-image {
		// background-attachment: fixed;
		@include size-class(compact) {
			background-image: url('../images/header_mobile.jpg');
		}
		@include size-class(tablet-portrait) {
			background-image: url('../images/header_tablet.jpg');
		}
		@include size-class(regular) {
			background-image: url('../images/header-desktop.png');
		}
	}

	.header-text {
		text-align: center;
		font-family: $font-1;
		font-weight: bold;
		@include size-class(all-desktop) {
			h1 {
				text-transform: uppercase;
				max-width: 500px;
				margin-left: auto;
				margin-right: auto;
				@include font-size(80) {
					line-height: em(88);
					margin-bottom: em(35);
				}
			}

			p {
				br{
					display: none;
				}
				font-family: $font-2;
				max-width: 515px;
				margin-left: auto;
				margin-right: auto;
				font-weight: 600;
				text-shadow: 7px 7px 22px rgba(0, 0, 0, 0.3);
				-moz-text-shadow: 7px 7px 22px rgba(0, 0, 0, 0.3);
				-webkit-text-shadow: 7px 7px 22px rgba(0, 0, 0, 0.3);
				@include font-size(44, px) {
					line-height: em(60);
					letter-spacing: em(2);
				}
			}
		}
		@include size-class(tablet-portrait) {
			@media(max-width: 640px){
				h1 {

					@include font-size(65) {
						line-height: em(70);
						margin-bottom: em(35);
					}
				}
			}


			p {

				max-width: 572px;
				br{
					display: none;
				}
				@include font-size(18) {
					line-height: em(26);
					letter-spacing: em(0);
				}
			}
		}
		@include size-class(compact) {
			p {

				max-width: 572px;
				br{
					display: none;
				}
				margin-bottom: 0;
				@include font-size(18) {
					line-height: em(22);
					letter-spacing: em(1.7);
				}
			}
			h1 {
				// max-width: 500px;
				margin-left: auto;
				margin-right: auto;
				@include font-size(48) {
					line-height: em(50);
					margin-bottom: em(28);
				}
			}
		}
		// Font Sizing
	}
}
