.photo-desktop{
  @include size-class(all-desktop){
    display: block;
  }
  @include size-class(compact){
    display: none;
  }
}

.photo-mobile{
  @include size-class(all-desktop){
    display: none;
  }
  @include size-class(compact){
    display: block;
  }
}
