> section {
	$border-width: 5px;
	$category-height: 102;
	position: relative;

	div[class^="LayoutContainer-float"] {
		@include size-class(all-desktop) {
			margin-bottom: 1em;
		}
		@include size-class(mobile-portrait) {
			margin-bottom: 0;
		}
	}

	.BodyCopy {
		@include size-class(compact) {
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}

	.BodyCopy > p:last-child {
		@include size-class(all-desktop) {
			margin-bottom: 1em;
		}
	}

	.LayoutContainer-float-right-wide {
		@include size-class(desktop to tablet-portrait) {
			 @include font-size(28, vw, 28){
				margin-top: em(10);
			}
		}
	}

	.LayoutContainer-float-right-square {
		@include size-class(compact) {
			margin-bottom: 0;
		}
	}

	&.with-category {
		padding-top: 0;
	}

	.BodyCopy > p {
		@include font-size(16) {
			line-height: em(28);
			color: #000;
			font-family: $font-2;
			font-weight: 300;
			@include size-class(all-desktop) {
				letter-spacing: em(0);
			}
			@include size-class(tablet-portrait) {
				letter-spacing: em(0);
			}
			@include size-class(compact) {
				letter-spacing: em(0);
			}
		}

		&.primary {
			@include font-size(36, px) {
				line-height: em(56);
				color: $special-p;
				font-family: $font-2;
				font-weight: 300;
			}
		}
	}

	.content > h3 {
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		color: $color1;
		display: table;
		margin: 0 auto;
		font-family: $font-1;

		&.green {
			color: $color2;
		}
		@include size-class(all-desktop) {
			min-width: span(5);
			max-width: span(7);
			padding: 0 gutter();
			margin-top: gutter() * 1;
			padding-top: em(30);
			// margin-bottom: span(1) - gutter();
			margin-bottom: em(10);
			position: relative;
			letter-spacing: 50/1000 * 1em;
			@include size-class(compact) {
				margin-top: 62px;
				padding-top: 28px;
			}

			&::before {
				content: " ";
				display: block;
				height: 6px;
				position: absolute;
				top: 30%;
				left: 50%;
				width: 35%;
				margin-left: -17.5%;
				background-color: $color1;
				@include size-class(compact) {
					width: 70%;
					margin-left: -35%;
					top: 0;
				}
			}

			&.green {
				&::before {
					background-color: $color2;
				}
			}
			@include font-size(50) {
				line-height: em(57);
				padding-bottom: em(10);
			}
		}
		@include size-class(mobile-portrait) {
			max-width: none;
			//margin-left: -1 * gutter();
			//margin-right: -1 * gutter();
			letter-spacing: 50/1000 * 1em;
		}
	}

	.category {
		color: #fff;
		@include full-bleed;
		font-weight: 300;
		font-style: italic;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 75/1000 * 1em;
		border-top: $border-width solid $gold-gradient-top;

		span {
			display: table;
			margin: -1 * $border-width auto 0;
			background: $gold-gradient;
		}
		@include size-class(all-desktop) {
			span {
				max-width: span(2) + gutter() * 2;
			}
			@include font-size(50, vw, 36) {
				line-height: em($category-height);
				height: em($category-height);
				margin-bottom: em(32);

				span {
					padding: 0 em(50);
				}
			}
		}
	}

	blockquote {
		text-align: center;
		letter-spacing: 25/1000 * 1em;
		margin: 0 auto;
		@include size-class(all-desktop) {
			 @include font-size(100, vw, 46){
				line-height: em(120);
			}
		}
		@include size-class(desktop to tablet-portrait) {
			width: span(8) + gutter() * 6;
		}
	}
}

.img-bags {
	@include size-class(all-desktop) {
		width: span(10);
		margin: 0 auto;

		img {
			width: 100%;
		}
	}
}
// Drop Cap for Section 1

#section1 {
	padding-bottom: 0;

	p.primary:first-child:first-letter {
		color: $color1;
		float: left;
		font-weight: 700;
		display: inline-block;
		font-family: $font-3;
		@include size-class(all-desktop) {
			 @include font-size(120, vw, 122){
				line-height: em(90);
				margin-right: em(8);
			}
		}
		@include size-class(tablet-portrait) {
			 @include font-size(120, vw, 122){
				line-height: em(103);
				margin-right: em(8);
			}
		}
		@include size-class(compact) {
			 @include font-size(120, vw, 122){
				line-height: em(100);
				margin-right: em(8);
			}
		}
	}
}

.wide-compact-tablet {
	@include size-class(tablet-portrait) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	@include size-class(compact) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

#section2 {
	@include size-class(all-desktop) {
		.LayoutContainer-float-left-square {
			margin-left: 11.896552%;
		}
	}
	@include size-class(tablet-portrait) {
		.LayoutContainer-float-left-square {
			margin-left: 4.896552%;
			width: 47%;
		}

		.LayoutContainer--square {
			.content {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	@include size-class(compact) {
		.LayoutContainer-float-left-square {
			margin-left: -5.1724137931%;
		}
	}

	.ImageView {
		img {
			width: 100%;
		}
	}
}

#section3 {
	padding: 0;
}

#section8 {
	h3 {
		color: $color-blue;
		border-color: $color-blue;
	}
}

#section9 {
	padding: 0;
}
