.studies {
	h3 {
		text-align: center;
		color: $color-gold;
		font-weight: 600;
		border-bottom: 1px solid $color-gold;
		text-transform: none;
		letter-spacing: 0;

		@include size-class(all-desktop) {
			@include font-size(45, vw) {
				line-height: em(56);
				padding-bottom: em(28);
				margin: em(120) auto em(32);
			}
		}

		@include size-class($regular) {
			width: span(4) + gutter() * 4;
		}

		//@include size-class(mobile-portait to tablet-portrait) {
		//	width: 100%;
		//}
	}

	.studies__stats {
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		@include size-class($regular) {
			width: span(10);
			margin: 0 auto;
		}

		@include size-class(tablet-portrait) {
			width: span(8);
		}

		@include size-class($compact) {
			flex-direction: column;
			max-width: 280px;
			margin: 0 auto;
		}

		dl {
			flex: 0 1 25%;
			text-align: center;
			font-weight: 600;

			dt, dd {
				display: block;
			}

			dt {
				color: $color-blue;
				@include size-class(all-desktop) {
					@include font-size(156, vw) {
						line-height: em(212);
					}
				}
			}

			dd {
				@include size-class(all-desktop) {
					@include font-size(32, vw) {
						//line-height: em(212);
						margin: 0 em(68);
					}
				}
				color: $color-gold;
			}
		}
	}
}