$regular: desktop to tablet-landscape;
$compact: mobile-portrait to tablet-portrait;

$color-light-gray: #f6f6f6;
$color-blue: #5d87a1;
$color-gold: #bf9e4d;
$gold-gradient-top: #d9c691;
$gold-gradient-bottom: #b49759;
$gold-gradient: linear-gradient(to bottom, $gold-gradient-top, $gold-gradient-bottom);

$color1:#1ae4ff;
$color2:#1ac84f;
$special-p:#000;
$p-color:#626366;
