{{!-- <div class="bodyCopy">
  <h1>{{ PaidPost.projectName }}</h1>
  <h2>{{ index.hello }}</h2>
  {{{ lines index.paragraphs }}}

</div> --}}

{{> header }}
{{> section1 }}
{{> section2 }}
{{> footer }}
